---
import {events} from '../data/events.js';

export interface Props {
    filter?: 'all' | 'upcoming' | 'past'
    display?: 'short' | 'full'
}

const { filter = 'all', display = 'full'} = Astro.props;

const now = new Date();
const parseDate = (str: string) => new Date(str + 'T00:00:00');

const formatDate = (dateStr: string) => {
    const date = parseDate(dateStr);
    return new Intl.DateTimeFormat('en-NZ', {
        weekday: display == "short"? 'short' : 'long',
        day: '2-digit',
        month: display == "short"? 'short' : 'long',
        year: 'numeric'
    }).format(date);
};


let filteredEvents = events;

if (filter === 'upcoming') {
    filteredEvents = events.filter(e => parseDate(e.date) >= now);
} else if (filter === 'past') {
    filteredEvents = events.filter(e => parseDate(e.date) < now);
}
---

<section>
    {filteredEvents.length > 0 ? (
        display === 'short' ? (
                <ul>
                    {filteredEvents.map(event => (
                            <li>
                                <a href=`/events/#${event.title}`><strong>{formatDate(event.date)}</strong>: {event.title} | Room: {event.room}</a>
                            </li>
                    ))}
                </ul>
        ) : (
            filteredEvents.map(event => (
                    <article id={event.title}>
                        <h4>{formatDate(event.date)} | Room: {event.room}</h4>
                        <h3>{event.title}</h3>
                        <p>{event.description}</p>
                    </article>
            ))
        )
    ) : (
            <p>No events found.</p>
    )}
</section>
