---
interface Social { name: string, icon: string, url: string }

const socials: Social[] = [
    { name: "Discord", icon: "discord.png", url: "https://discord.gg/kHWXarJYN8" },
    { name: "GitHub", icon: "github.png", url: "https://github.com/Lakes-Programming-Club" }
]

---

<footer>
    <nav class="container">
        <ul>
            <li>
                <a href="https://github.com/Lakes-Programming-Club/ClubSite"><small>Source</small></a>
            </li>
        </ul>
        <ul>
            {
                socials.map((social) => (
                    <li class="social">
                        <a class="contrast" href = {social.url} target = "_blank">
                            <img class="icon dark-mode" src={`/light-${social.icon}`} alt={social.name}/>
                            <img class="icon light-mode" src={`/dark-${social.icon}`} alt={social.name}/>
                        </a>
                    </li>
                ))
            }
        </ul>

    </nav>
</footer>